
.tabs {
    max-width: 400px;
    margin: auto;
}
.homeTitle {
    color: #3d3d3d; 
}
/* .incrementerContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid black; */

.incrementer{
    /* text-align: center; */
    width: 340px;
    margin: 20px auto 20px auto;
    border-radius: 20px; 
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}
.incrementerText {
    /* border: 1px solid black; */
        padding: 30px;
}
.incrementerBtn{
    margin: 10px auto 10px auto;
    box-shadow: black 0px 1px 3px;
    border-radius: 90px;
}
.incrementerBtn:active{ 
    box-shadow: black 0px -1px 3px; 
}
.plus {
    width: 61.69px;
}
.minus {
    width: 36px;
}
.incrementerBtns {
    padding: 10px 30px 10px 10px;
    /* border: 1px solid black; */
}

.incrementerInput{
    margin: 10px auto 10px auto;
}
.incrementerInput.input {
    width: 80px;
}
.incrementerInput.btn { 
    width: 62.42px; 
    border-radius: 4px;
    box-shadow: black 0px 1px 3px;
}
.incrementerInput.btn:active { 
    box-shadow: black 0px -1px 3px; 
}
.incrementerInputs {
    padding: 20px 30px 20px 10px; 
    height: 147.3px;
    /* border: 1px solid black; */
}