.signUpHeader {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.signUpContainer {
    max-width: 695px;
    display: block;
    margin: auto;
}
.summaryPage {
    width: 286px;
    display: block;
    margin: 0 auto 50px auto;
}