.nav-title {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    font-family: 'Righteous', cursive;
}

.nav {
  overflow: hidden;
  background-color: #584B53;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #584B53;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #513939;
  color: #f2f2f2;
}

.nav-right {
  float: right;
}


